header {
    padding: 110px 0 30px 0;
}

ol.breadcrumb {
    padding: 0.25rem;
    background-color: orange;
}

ol li a {
    color: #222;
    list-style: none;
    text-decoration: none;
}

    ol li a:hover {
        color: #fff;
        list-style: none;
        text-decoration: none;
        border-bottom: 2px solid #222;
        transition: 0.75s;
    }

.card-img-top {
    border: 1px solid orange;
}

.card-body {
    background-color: #1f1f1f;
    border: 1px solid orange;
}

button#dishButton.btn-sm {
    width: 75px;
}
