header {
    padding: 110px 0 30px 0;
}

ol.breadcrumb {
    padding: 0.25rem;
    background-color: orange;
}

ol li a {
    color: #222;
    list-style: none;
    text-decoration: none;
}

    ol li a:hover {
        color: #fff;
        list-style: none;
        text-decoration: none;
        border-bottom: 2px solid #222;
        transition: 0.75s;
    }

.card-img-top {
    border: 1px solid orange;
}

.card-body {
    background-color: #1f1f1f;
    border: 1px solid orange;
}

button#dishButton.btn-sm {
    width: 75px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #222;
}

div#buttons {
    margin-top: 30px;
}


.card:hover .middle {
    opacity: 0.9;
}

p#notification {
    position: absolute;
    text-align: right;
    margin-left: 71%;
    margin-top: -25px;
    background-color: rgba(255, 255, 0, 0.7);
    color: #fff;
    font-size: 10px;
    padding: 4px;
}