<footer class="py-3 text-center bg-light">
    <div class="container">
        <b class="text-black-50" style="font-size: 12px;">Copyright © easy-meal-sswp.azurewebsites.nl - 2019 All Rights Reserved. <a style="color: orange" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a></b>
    </div>
</footer>