@model Domain.Menu
@using Cook.Extensions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Menu details</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/landing.css" rel="stylesheet">
    <link href="~/css/menu/details.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>

    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Menus" asp-action="Index">Menus</a></li>
                        <li class="breadcrumb-item">Details</li>

                    </ol>
                </div>
            </div>
        </div>
    </header>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h4>Menu - Week @Model.Week - @Model.Year</h4>
                <hr />
                <ul class="text-white-50 mt-2" style="font-size: 12px;">
                    <div class="row">
                        @foreach (var menuMeal in ViewBag.MenuMeals)
                        {
                            @if (menuMeal.MenuId == Model.Id)
                            {
                                @foreach (var meal in ViewBag.Meals)
                                {
                                    @if (meal.Id == menuMeal.MealId)
                                    {
                                        <div class="card text-white border-warning bg-transparent p-1 text-center col-md-5 m-2">
                                            <div class="card-body">
                                                <p class="card-title" style="font-size: 20px;"><i>@meal.DateValid.ToString("d MMM yyyy")</i></p>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </ul>
                <form class="mb-4" asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Edit" class="btn btn-warning" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
