@model IEnumerable<Domain.Dish>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css">
    <link href="~/css/landing.css" rel="stylesheet" />
    <link href="~/css/dishIndex.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")
    






    @await Html.PartialAsync("_FooterPartial")

</body>
</html>
