@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/landing.css" rel="stylesheet">
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-sm-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    @{
        var menus = ViewBag.Menus.Count;
        var meals = ViewBag.Meals.Count;
        var dishes = ViewBag.Dishes.Count;
    }

        <div class="container">
            <div class="row offset-md-2">
                <div class="col-md-2 text-center sidebar">
                    <a class="active" href="#home">Home</a>
                    <a asp-controller="Menus" asp-action="Index">Menus</a>
                    <a asp-controller="Meals" asp-action="Index">Meals</a>
                    <a asp-controller="Dishes" asp-action="Index">Dishes</a>
                </div>
                <div class="col-md-7 content text-center">
                    <hr />
                    <h5>Menus <p class="badge badge-pill badge-warning">@menus</p></h5>
                    <hr />
                    <h5>Meals <p class="badge badge-pill badge-warning">@meals</p></h5>
                    <hr />
                    <h5>Dishes <p class="badge badge-pill badge-warning">@dishes</p></h5>
                    <hr />
                </div>
            </div>
        </div>

    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
