@{

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")


    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
