@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/landing.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto m-5">
                    <h1>Welcome Cook!</h1>
                    <p class="lead">To continue to the dashboard you'll need to login first. Are you not registered as a Cook yet? No problem, just click on <b>register</b> on the right top!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
