section {
    padding: 150px 0;
}

    section#order::after {
        content: "";
        background: url("../../img/carousel_item_3.jpg") top left no-repeat;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        zoom: 2;
        image-rendering: optimizeQuality;
    }
